img {
	height:1000px;
	width:100%;
}
.left {
	float:left;
	clear:both;
}
			
.h1 {
	text-align:center;
	font-size:40px;
	font-style:italic;
}
		
.picture {
	height:350px;
	width:400px;
	border-style:solid;
}
#colorback {
	background-color:powderblue;
}
.fonttext {
	font-size:30px;
	font-style:italic;
	border-style:solid;
}